body,html {
  height: 100%;
  width: 100%;
  background-image: url('morningbg.jpg');
  background-size: cover;
}

.background{
  height: 100%;
  width: 100%;
}

.header {
    /* display: inline-block; */
    /* position: relative; */
    /* left: 934px; */
    /* height: 200px; */
    color: yellow;
      text-shadow:1px 1px black,
                  2px 2px black,
                  3px 3px black;

    text-align: center;
    top: 300px;

    font-family: cursive;
    color: seashell;
    font-size: 80px;
    /* vertical-align: middle; */
}
.food-search {
    color: white;
    font-size: 63px;
    text-shadow: 1px 1px black,
                2px 2px black,
                3px 3px black;
    position: relative;
    height: 43%;
    /* margin: 10px; */
    top: 16%;
    display: flex;
    justify-content: space-around;
    /* align-content: center; */
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
}

#search,#radius {
  height: 10%;
  width: 30%;
  border: 3px solid #00B4CC;
}
.button {
  border-radius: 12px;
  background-color: #F45142;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 23px;
  padding: 12px;
  width: 179px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.big-weather-container {
    background: lightblue;
    display: inline-block;
    height: 28%;
    width: 58%;
    float:left;
}
.weather-container {
    display: inline-block;
    /* padding: inherit; */
    position: relative;
    left: 4px;
    height: 100%;
    width: 100%;
    border-radius: 20px 20px 20px 20px;
    /* background-image: url('rain-background.jpg'); */
    background-position: center;
    background-size: cover;
    top: 6px;
    /* background: #293462; */
}
.weather-icon {
    /* display: inline-block; */
    border-radius: 30px 30px 30px 30px;
    size: 58px;
    float: left;
    color: white;
    font-size: 60px;
    /* margin-left: 2px; */
    text-align: center;
    text-shadow: 1px 1px black,
                2px 2px black,
                3px 3px black;
    position: relative;
    height: 78%;
    width: 26%;
    /* background: red; */
    top: 40px;
    left: 36px;
    font-size: 152px;
}
.icon-description {
    display: inline-block;
    position: relative;
    border-radius: 20px 20px 20px 20px;
    top: 34px;
    height: 45%;
    width: 71%;
    color: white;
    text-shadow: 1px 1px black,
                2px 2px black,
                3px 3px black;
    text-align: center;
    /* background: green; */
    left: 19px;
    font-size: 36px;
}

.time-zone {
    display: inline-block;
    border-radius: 20px 20px 20px 20px;
    top: 31px;
    left: 159px;
    color: white;
    position: relative;
    text-align: center;
    text-shadow: 1px 1px black, 2px 2px black, 3px 3px black;
    height: 23%;
    width: 38%;
    /* background: powderblue; */
    font-size: 38px;
}

.gps-icon {
  /* display: inline-block; */
  float: left;
  /* background: purple; */
  left: 13px;
  position: relative;
  left: 18px;
  color: lightblue;
}

.pokemon {
    display: inline-block;
    height: 28%;
    width: 41%;
    background: yellow;
    left: 13px;
}
.yelp {
    
    height: 72%;
    width: 100%;
}

.tableHead,
.tableFormat {
    display: flex;
	border-bottom: 1px dotted gray;
	width: 100%;
}

.tableHead > * {
    border-right: 1px solid black;
	padding-left: .5%;
}

tr:nth-of-type(1) { /* table header */
    background-color: black;
	color: white;
	font-weight: bold;
}

.price,
.priceHead {
    width: 15%;
    padding: 8px;
    font-family: cursive;
}

.place,
.placeHead {
    width: 60%;
    
}

.rating,
.ratingHead {
    width: 25%;
}

.price,
.place,
.rating {
    font-size: 20px;
    color: white;
    /* font-family: font-family: 'Ubuntu', sans-serif; */
    /* font-family: 'Crimson Text', serif; */
    font-family: 'Crimson Text', serif;
}


/* .tableHeader0,
.tableHeader1 {
	display: flex;
	border-bottom: 1px solid black;
	width: 100%;
}
.tableHeader0 > * {
	border-right: 1px solid black;
	padding-left: .5%;
} */

.modal {
    display: inline-block;
    background-image: url('landingpagebackground.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.visible {
    visibility: visible;
}

.hidden {
    visibility: hidden;
}
