body,html {
  height: 100%;
  width: 100%;
}
.big-weather-container {
    background: lightblue;
    display: inline-block;
    height: 28%;
    width: 58%;
    float:left;
}
.weather-container {
    display: inline-block;
    /* padding: inherit; */
    position: relative;
    left: 4px;
    height: 96%;
    width: 99%;
    border-radius: 20px 20px 20px 20px;
    background-image: url('weather-background.jpg');
    background-position: center;
    background-size: cover;
    top: 6px;
    /* background: #293462; */
}
.weather-icon {
    /* display: inline-block; */
    border-radius: 30px 30px 30px 30px;
    size: 58px;
    float: left;
    color: white;
    font-size: 60px;
    /* margin-left: 2px; */
    text-align: center;
    text-shadow: 1px 1px black,
                2px 2px black,
                3px 3px black;
    position: relative;
    height: 78%;
    width: 26%;
    /* background: red; */
    top: 40px;
    left: 36px;
    font-size: 152px;
}
.icon-description {
    display: inline-block;
    position: relative;
    border-radius: 20px 20px 20px 20px;
    top: 19px;
    height: 45%;
    width: 71%;
    color: white;
    text-shadow: 1px 1px black,
                2px 2px black,
                3px 3px black;
    text-align: center;
    /* background: green; */
    left: 19px;
    font-size: 36px;
}

.time-zone {
    display: inline-block;
    border-radius: 20px 20px 20px 20px;
    top: 26px;
    left: 58px;
    color: white;
    position: relative;
    text-align: center;
    text-shadow: 1px 1px black, 2px 2px black, 3px 3px black;
    height: 14%;
    width: 24%;
    background: powderblue;
    font-size: 27px;
}

.pokemon {
    display: inline-block;
    height: 28%;
    width: 41%;
    background: yellow;
    left: 13px;
}
.yelp {
    display: inline-block;
    background: red;
    height: 70%;
    width: 99%;
}
